body{
	background :url('../img/pattern.jpg') repeat;
	margin:20px;
}

h1,h2,h3,h4,h5{
	font-family: 'Bree Serif', serif;
	font-weight: 200;	
}

p{
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
}

input{
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 600;
}

th, td{
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
}

.custom-well{
	min-height:550px;
	box-shadow: 0px 0px 8px 0px #888888;	
}
.norecord{
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	font-size: 20px;
}
.social{
    font-size: 28px;
}
.social a{
	margin-left: 5px;
}

.loader{
	width: 20px;
}